<footer>

  <section class="titulo">
    <h3>KING AGS</h3>
  </section>  

  <section class="social">
    <a href=""><i class="fa-brands fa-square-github fa-2xl" style="color: #ffffff;"></i>    </a>
    <a href=""><i class="fa-brands fa-linkedin fa-2xl" style="color: #ffffff;"></i>    </a>
    <a href=""><i class="fa-brands fa-square-instagram fa-2xl" style="color: #ffffff;"></i></a>
    <a href=""><i class="fa-brands fa-square-x-twitter fa-2xl" style="color: #ffffff;"></i></a>
  </section>

  <section class="menu extra">
    <p><a [routerLink]="['/principal']">Menú Principal</a></p>
    <p><a [routerLink]="['/opc-lugares']">Explorar</a></p>
    <p><a [routerLink]="['/reservaciones']">Reservar</a></p>
    <p><a [routerLink]="['/datos-equipo']">Datos de equipo</a></p>
    <p><a [routerLink]="['/acerca-nosotros']">Acerca de nosotros</a></p>
  </section>

  <section class="menu mas">
    <p>Calidad | </p>
    <p>Variedad | </p>
    <p>Mejores Precios | </p>
    <p>Comodidad</p>
  </section>
</footer>
<section class="linea">
  <div>
    <i class="fa-solid fa-crown fa-2xl" style="color: #ffffff;"></i>  </div>
  <div>
    <p>"Donde los sueños encuentran su espacio"</p>
    <p>Ven a KING AGS</p>  
  </div>
  <div>
<i class="fa-solid fa-crown fa-2xl" style="color: #ffffff;"></i>  </div>
</section>

