<div class="contenidocom">


    <!-- Primera Sección -->
    <div class="contenedor">
        <img src="../assets/Imagenes_PP/ImagenPrincipal.jpg" />
        <div class="centrado">
            <div class="context-enc">
                CASAS Y DEPARTAMENTOS A UN CLIC DE DISTANCIA
                <div class="context-sub">
                    LUGARES IDEALES EN AGUASCALIENTES
                </div>
                <div class="context-ref">
                    By KING AGS
                </div>
            </div>

        </div>
    </div>


    <!-- Segunda Seccion -->
    <div class="segcontenido">
        <table>
            <tr>
                <td>
                    <div class="contenedor-table">
                        <img src="../assets/Imagenes_PP/Parroquia.jpg" alt="" width="820px" height="50px">
                        <div class="centradot">
                            <div class="context-enctt">
                                Vive una gran experiencia
                                <div class="linea">
                                    <hr>
                                </div>
                                <div class="context-subtt">
                                    Hospedate en los mejores lugares de aguascalientes
                                </div>
                            </div>

                        </div>
                    </div>

                </td>
                <td>

                    <div class="redimension-table">

                        <div class="titulo linea2">
                            ¿SABIAS QUE?

                        </div>


                        <div class="contexto">
                            Aguascalientes se caracteriza por ser un estado lleno de folclor y tradición, y para muestra
                            de ellos, la famosa Fiesta de San Marcos, una de las más emblemáticas y a la que se dan cita
                            miles de personas, nacionales y extranjeros, que cada año acuden entre los meses de abril y
                            mayo a vivir de cerca el ambiente de algarabía que se respira. 
                        </div>

                    </div>

                </td>
                <td>
                    <div class="contenedor-table">
                        <img src="../assets/Imagenes_PP/Ferocarril.jpg" alt="" width="820px" height="50px">
                        <div class="centradot">
                            <div class="context-enct">
                                Aguascalientes
                                <div class="linea">
                                    <hr>
                                </div>
                                <div class="context-subt">
                                    Ciudad de la gente buena
                                </div>
                            </div>

                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>



          <!-- Tercera Sección -->
    <div class="contenedor2">
        <img src="../assets/Imagenes_PP/patrick-tomasso-nWvWBV0sv04-unsplash.jpg" />
        <div class="centrado2">
            
                <div class="context-subt3">
                    SOMOS UNA AGENCIA CON MAS DE 40 AÑOS DE EXPERIENCIA EN NUESTRA BELLA CIUDAD DE AGUASCALIENTES CON MAS DE 20 ZONAS ASOCIADAS A NOSOTROS, LAS CUALES OFRECEN LA MEJOR ATENCION Y ZONA AL MEJOR PRECIO PARA TI.
                    <div class="context-ref2">
                        NO LO PIENSES MÁS Y AGENDA UNA CITA CON NOSTROS, DONDE OBTENDRAS MAYOR INFORMACIÓN
                    </div>
                </div>

                <div class="posboton">
                    <button class="btn-shape">
                        <span class="title">
                          GENERAR CITA
                        </span>
                    </button>
                </div>
            
            

        </div>
    </div>

    </div>

