
<div class="contenidocom">


    <!-- Primera Sección -->
    <div class="contenedor">
        <img src="../assets/Imagenes_PP/ImagenPrincipal.jpg" />
        <div class="centrado">
            <div class="context-enc">
                CASAS Y DEPARTAMENTOS A UN CLIC DE DISTANCIA
                <div class="context-sub">
                    LUGARES IDEALES EN AGUASCALIENTES
                </div>
                <div class="context-ref">
                    By KING AGS
                </div>
            </div>
        
            </div>
      </div>


      <!-- Segunda Seccion -->
      <div class="segcontenido">
        <table>
            <tr>
                <td>
                    <div class="contenedor-table">
                        <img src="../assets/Imagenes_PP/Parroquia.jpg" alt="" width="820px" height="50px">
                        <div class="centradot">
                            <div class="context-enctt">
                                Vive una gran experiencia
                                <div class="context-subtt">
                                    hospedate en los mejores lugares de aguascalientes
                                </div>
                            </div>
                        
                            </div>
                    </div>
                   
                </td>
                <td >

                    <div class="redimension-table">

                    </div>
                    
                </td>
                <td>
                    <div class="contenedor-table">
                        <img src="../assets/Imagenes_PP/Ferocarril.jpg" alt="" width="820px" height="50px">
                        <div class="centradot">
                            <div class="context-enct">
                                Aguascalientes
                                <div class="context-subt">
                                    Ciudad de la gente buena
                                </div>
                            </div>
                        
                            </div>
                    </div>
                </td>
            </tr>
        </table>
      </div>

</div>

    
