*{
    box-sizing: border-box;
    color: black;
}

.cards{
    width: 100%;
}

.container {
    margin: 20px auto;
    column-count: 5;
    column-gap: 20px;
}

.card{
    padding: 0px;
    margin-right: 20px;
    background-color: white;
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 10px;
    break-inside: avoid;
}

.card img{
    width: 100%;
}

.card-content{
    padding: 10px 12px;
}

hr{
    margin: 10px 0px;
    width: 100%;
    height: 0.5px;
}

.anfitrion{
    font-size: 15px;
    margin: 0px;
}

.nombre{
    margin-top: 7px;
    font-size: 13px;
}

.negritas{
    font-weight: bold;
}

.content{
    font-size: 14px;
}

.star{
    display: flex;
    justify-content:space-between;
    align-items:start;
    height: 35px;
}

.estrella{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.estrella p{
    padding-right: 3px;
}

@media only screen and (max-width: 600px) {
    .container {
        column-count: 1;
        padding: 0px 20px ;
    }
    .star{
        height: 25px;
    }
    .card{
        width: 95%;
    }
    
}

@media only screen and (min-width: 601px) and (max-width: 1023px) {
    .container {
        column-count: 2;
        padding: 0px 20px ;
        width: 100%;
    }
    .star{
        height: 25px;
    }
    .card{
        width: 95%;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1215px)  {
    .container {
        column-count: 3;
    }
    .star{
        height: 25px;
    }
}


@media only screen and (min-width: 1216px) and (max-width: 1407px) {
    .container {
        column-count: 4;
    }
    .star{
        height: 25px;
    }
}
