.fondo{
    background-color: #033D1E;
}







.espaciol{
    padding: 3px;
    margin-top: 3px;
}


.navbar-menu a:hover{
    background-color:#033D1E;

}



.navbar-start{
  margin-left: 60px;
  padding: 3px;
}




.buscador {
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 20px;
}

.buscador button:hover{
    background-color:#00200f;
    color: white;
    font-weight: bold;
    scale: 1.1;
}


.alineopc input[type="text"]{

    border: none;
    height: 30px;
    width: auto;
    border-radius: 8px;


}

.buscador button{
    height: 28px;
    width: 80px;
    font-weight: bold;
    color: white;
    border: 2px solid white;
    border-radius: 8px;
    margin-left: 8px;
    
}

.buscador p{
    font-size: 8px;
}

.navbar-item{
    color: white;
}


.navbar-burger{
    color: #FBE803;
    background-color: #033D1E;
}


/* Menu Opciones */
.menu {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .menu a span:first-child {
    display: inline-block;
    padding: 10px;
  }

  .menu a {
    display: block;
    position: relative;
    overflow: hidden;
  }
  .menu a span:last-child {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
  }

  .menu a span {
    transition: transform 0.2s ease-out;
  }
  .menu a:hover span:first-child {
    transform: translateY(100%);
  }
  .menu a:hover span:last-child {
    transform: none;
  }

  .menu[data-animation="to-top"] a span:last-child {
    transform: translateY(100%);
  }


