<div class="fondo">
  <h1 >Conoce al Equipo</h1>
  <section class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-half-tablet is-one-quarter-desktop">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="assets/img/DanyBB.jpg" alt="Imagen Persona 1" />
              </figure>
            </div>
            <div class="card-content">
              <p class="title is-size-6">Dany</p>
              <p class="subtitle is-size-7">Lider del equipo</p>
              <p class="is-size-7">
                Soy Laura Daniela Flores Prieto, tengo 20 años y soy de
                Teocaltiche, Jalisco. Mis hobbies favoritos son leer, bailar y
                escuchar música, también me gusta aprender cosas nuevas que me
                parezcan interesantes. Uno de mis propósitos para este año es
                aprender chino mandarín, de igual forma mejorar y practicar mi
                inglés.
              </p>
              <div class="iconos">
                <a href="https://www.facebook.com/daniela.floresprieto"
                  ><i class="fa-brands fa-facebook"></i>
                </a>
                <a href="https://www.linkedin.com/in/laura-dani-flores/"
                  ><i class="fa-brands fa-linkedin"></i
                ></a>
                <a href="https://www.instagram.com/lauradaniela562/">
                  <i class="fa-brands fa-square-instagram"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-half-tablet is-one-quarter-desktop">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="assets/img/gaby.jpg" alt="Imagen Persona 2" />
              </figure>
            </div>
            <div class="card-content">
              <p class="title is-size-6">Gaby</p>
              <p class="subtitle is-size-7">Desarrolladora</p>
              <p class="is-size-7">
                Soy Diana Gabriela y me gusta ver series, actualmente estoy
                viendo una llamada "The Penthouse" (100% recomendada).
                Igualmente soy muy fan del kpop y recientemente inicié en el
                hábito de la lectura y se ha convertido en mi hobbie favorito.
                Me gustaría seguir aprendiendo y desarrollando mis habilidades
                para un futuro..
              </p>
              <div class="iconos">
                <a
                  href="https://www.facebook.com/profile.php?id=100057031729105"
                  ><i class="fa-brands fa-facebook"></i>
                </a>
                <a href="https://www.linkedin.com/in/diana-flores-572913224/"
                  ><i class="fa-brands fa-linkedin"></i
                ></a>
                <a href="https://www.instagram.com/dianaflores8900/">
                  <i class="fa-brands fa-square-instagram"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="columns is-centered">
        <div class="column is-half-tablet is-one-quarter-desktop">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="assets/img/AdrianBB.jpg" alt="Imagen Persona 3" />
              </figure>
            </div>
            <div class="card-content">
              <p class="title is-size-6">Adrian</p>
              <p class="subtitle is-size-7">Desarrolador</p>
              <p class="is-size-7">
                Soy Edgar Adrian Balandran Guerrero, tengo 20 años y soy de la
                ciudad de Aguascalientes. Soy una persona que siempre trata de
                mejorar fisica, mental y culturalmente, me gusta mucho la
                musica, la lectura y el siempre tener la creatividad como una
                cualidad. Mis pasatiempos favoritos es la cocina, ver Kdramas,
                tocar la guitarra y mejorar mi ingles..
              </p>
              <div class="iconos">
                <a href="https://www.facebook.com/adrian.balandran.714"
                  ><i class="fa-brands fa-facebook"></i>
                </a>
                <a
                  href="https://www.linkedin.com/in/adrian-balandran-41a763297/"
                  ><i class="fa-brands fa-linkedin"></i
                ></a>
                <a href="https://www.instagram.com/adrian_tesfay/">
                  <i class="fa-brands fa-square-instagram"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-half-tablet is-one-quarter-desktop">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="assets/img/Luis.jpg" alt="Imagen Persona 4" />
              </figure>
            </div>
            <div class="card-content">
              <p class="title is-size-6">Luis</p>
              <p class="subtitle is-size-7">Desarrolador</p>
              <p class="is-size-7">
                Soy Luis, soy foráneo procediente de jerez Zacatecas, me gusta
                mucho mi vida se foraneo ya que es una experiencia que cambio mi
                punto de vista, me gusta mucho salir y ver las calles de Ags, y
                espero sacarle el mayor provecho a mi estadía en este estado tan
                especial. Y siempre estoy viviendo experiencias que no viviría
                en mi lugar de origen.
              </p>
              <div class="iconos">
                <a
                  href="https://www.facebook.com/share/si8PtH8uVoZ8Hp1S/?mibextid=WC7FNe"
                  ><i class="fa-brands fa-facebook"></i>
                </a>
                <a
                  href="https://www.facebook.com/share/si8PtH8uVoZ8Hp1S/?mibextid=WC7FNe"
                  ><i class="fa-brands fa-linkedin"></i
                ></a>
                <a
                  href="https://www.instagram.com/jluis.mtz31?igsh=cGg4OW9pNnNjZWg4&utm_source=qr"
                >
                  <i class="fa-brands fa-square-instagram"></i
                ></a>
              </div>
            </div>
            
          </div>
        </div>

        
      </div>
      <div class="columns is-centered">
        <div class="column is-half-tablet">
          <div class="card horizontal-card">
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-128x128">
                    <img src="assets/img/logo.png" alt="Imagen de la tarjeta">
                  </figure>
                </div>
                <div class="media-content">
                  <div class="content">
                    
                    <p>PROYECTO DE LA MATERIA TECNOLOGIAS WEB DE LA UNIVERSIDAD AUTONOMA DE AGUASCALIENTES</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      
    </div>
  </section>
</div>
