@font-face {
  font-family: 'Montserrat';
  src: url('../../assets/Fonts/Montserrat-Regular.ttf');
}

header{
  font-family: 'Montserrat';
}

.fondo{
    background-color: #033D1E;
}


.espaciol{
    padding: 3px;
    margin-top: 3px;
}

.navbar-menu{
  background-color: #033D1E;
}


.navbar-menu a:hover{
    background-color:#033D1E;

}

.navbar-item{
  background-color: #033D1E;
}


.navbar-start{
  margin-left: 60px;
  padding: 3px;
}




.buscador {
    margin-top: 18px;
    margin-left: 80px;
    /* margin-right: 20px; */
}

.buscador{
  margin-top: 20px;
  margin-right: 20px;
}

.buscador button:hover{
    background-color:#00200f;
    color: white;
    font-weight: bold;
    scale: 1.1;
}


.buscador input[type="text"]{

  margin-top: 7px;
    padding: 6px;
    border: none;
    height: 30px;
    width: auto;
    border-radius: 9px;


}

.buscador button{
    height: 30px;
    padding: 9px;
    width: 80px;
    font-weight: bold;
    color: white;
    border: 2px solid white;
    border-radius: 9px;
    margin-left: 8px;
    
}

.buscador p{
    font-size: 8px;
}

.navbar-item{
    color: white;
}


.navbar-burger{
    color: #FBE803;
    background-color: #033D1E;
}


/* Menu Opciones */
.menu2 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .menu2 a span:first-child {
    display: inline-block;
    padding: 10px;
  }

  .menu2 a {
    display: block;
    position: relative;
    overflow: hidden;
  }
  .menu2 a span:last-child {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
  }

  .menu2 a span {
    transition: transform 0.2s ease-out;
  }
  .menu2 a:hover span:first-child {
    transform: translateY(100%);
  }
  .menu2 a:hover span:last-child {
    transform: none;
  }

  .menu2[data-animation="to-top"] a span:last-child {
    transform: translateY(100%);
  }


