<script src="../assets/encabezado.js" defer></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous" />


<header>
  <nav class="navbar fondo">
    <div class="navbar-brand">
      <div class="espaciol">
        <a href="">
          <img width="75px" height="75px" src="../assets/Imagenes_E/image-removebg-preview.png" alt="" />
        </a>
      </div>

      <a role="button"
      class="navbar-burger burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
      [class.is-active]="showBurgerMenu"
      (click)="showBurgerMenu = !showBurgerMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" 
    class="navbar-menu" 
    [class.is-active]="showBurgerMenu">
      <div class="navbar-start">
        <ul class="menu2">
          <li>
            <a class="navbar-item" [routerLink]="['/principal']">
              <span>Menú Principal</span>
              <span>
                <i class="fas fa-home fa-lg" aria-hidden="true"></i>
              </span>
            </a>
          </li>
          <li>
            <a class="navbar-item" [routerLink]="['/opc-lugares']">
              <span>Explorar</span>
              <span>
                <i class="fas fa-solid fa-compass fa-lg" aria-hidden="true"></i> </span></a>
          </li>
          <li>
            <a class="navbar-item" [routerLink]="['/reservaciones']"><span>Reservaciones</span>
              <span>
                <i class="fas fa-solid fa-calendar-check fa-lg" aria-hidden="true"></i>
              </span>
            </a>
          </li>
          <li>
            <a class="navbar-item" [routerLink]="['/datos-equipo']">
              <span>Datos de equipo</span>
              <span>
                <i class="fas fa-solid fa-users fa-lg" aria-hidden="true"></i>
              </span>
            </a>
          </li>
          <li>
            <a class="navbar-item" [routerLink]="['/acerca-nosotros']">
              <span>Acerca de Nosotros</span>
              <span>
                <i class="fas fa-address-card fa-lg" aria-hidden="true"></i>
              </span>
            </a>
          </li>
        </ul>
      </div>
      

      <div class="navbar-end">
        <div class="buscador">

          <div id="buscocasa">

            <div class="bust">
              <input type="text" placeholder="Buscador" #buscarTexto (keyup.enter)="buscarUnCasa(buscarTexto.value)" />
            </div>
            
            <div class="busb">
              <button (click)="buscarUnCasa(buscarTexto.value)" type="button">
              <p>BUSCAR</p>
            </button>
            </div>
            

          </div>
          
          
          
        </div>
        
      </div>
    </div>
  </nav>

</header>