<main class="firtPart">

  <div class="titulo"> 
    <h1>Conoce al Equipo</h1>
  </div>


  <div class="container">
    <iframe
      width="560"
      height="315"
      [src]="video | domseguro : 'https://www.youtube.com/embed/'"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-inpicture"
      allowfullscreen
    ></iframe>
  </div>

</main>

  <section class="our-work">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-one-quarter">
          <div class="card cuadro">
            <div class="card-content has-text-centered">
              <p class="title is-4">100 000</p>
              <p class="subtitle is-6">
                Localidades con anuncios activos en KING AGS
              </p>
            </div>
          </div>
        </div>
        <div class="column is-one-quarter">
          <div class="card cuadro">
            <div class="card-content has-text-centered">
              <p class="title is-4">Más de 1.5 millones</p>
              <p class="subtitle is-6">De llegadas en total</p>
            </div>
          </div>
        </div>
        <div class="column is-one-quarter">
          <div class="card cuadro">
            <div class="card-content has-text-centered">
              <p class="title is-4">Más de 2 millones</p>
              <p class="subtitle is-6">De anfitriones</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<main class="info">
  <section class="about-us">
    <p>
      En 1984, nació el concepto de "KING AGS" cuando unos amigos decidieron
      abrir las puertas de su modesta casa en Aguascalientes para recibir a tres
      viajeros sedientos de aventura. Desde entonces, más de 10,000 anfitriones
      en Aguascalientes han compartido sus hogares con más de 3 millones de
      personas. En KING AGS, nos enorgullece brindar a nuestros huéspedes
      experiencias únicas y auténticas. Desde acogedoras cabañas hasta lujosas
      casas, ofrecemos una amplia gama de opciones para satisfacer todas las
      necesidades y presupuestos. Además, organizamos eventos locales y
      experiencias culturales para sumergir a nuestros huéspedes en la vida de
      Aguascalientes. Creemos en la sostenibilidad y la responsabilidad social,
      trabajando en estrecha colaboración con nuestras comunidades locales. Con
      un equipo dedicado, estamos comprometidos a hacer que tu experiencia en
      KING AGS sea inolvidable. Ven y únete a nuestra comunidad de viajeros
      apasionados y descubre todo lo que Aguascalientes tiene para ofrecer.
    </p>
  </section>
</main>