<main>
  <section class="about-us">
    <h1 style="font-weight: bold">Acerca de nosotros</h1>
    <p>
      En 1984, nació el concepto de "KING AGS" cuando unos amigos decidieron
      abrir las puertas de su modesta casa en Aguascalientes para recibir a tres
      viajeros sedientos de aventura. Desde entonces, ¡ha sido una montaña rusa
      emocionante! Ahora, más de 10,000 anfitriones en Aguascalientes han
      compartido sus hogares con más de 3 millones de personas, ¡y sigue
      creciendo más rápido que un nopal en primavera!
    </p>
  </section>

  <section class="our-work">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-one-quarter">
          <div class="card">
            <div class="card-content">
              <p class="title is-4">100 000</p>
              <p class="subtitle is-6">
                Localidades con anuncios activos en KING AGS
              </p>
            </div>
          </div>
        </div>
        <div class="column is-one-quarter">
          <div class="card">
            <div class="card-content">
              <p class="title is-4">Más de 1.5 millones</p>
              <p class="subtitle is-6">De llegadas en total.</p>
            </div>
          </div>
        </div>
        <div class="column is-one-quarter">
          <div class="card">
            <div class="card-content">
              <p class="title is-4">Mas de 2 millones</p>
              <p class="subtitle is-6">De anfitriones.</p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container">

  <iframe
    width="560"
    height="315"
    [src]=" video | domseguro : 'https://www.youtube.com/embed/'"
    frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-inpicture"
    allowfullscreen
    
  ></iframe>
</div>
</main>
