*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}



.titulo{
    width: 400px;
    color: aliceblue;
    font-weight: bold;
    padding: 20px;
    background-color: #282828;
    display: inline-block;
    font-size: 28px;
    /* border: 2px solid black; */
    /* box-shadow: 0 0 9px 0.5px white; */
    text-align: center; 
    margin: 40px auto;
    display: flex;
    justify-content: center;
}



main.firtPart {
    padding: 20px;
    background-image: url(../../assets/img/arb.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Montserrat', sans-serif;
}

.about-us {
    margin-bottom: 40px;
    /* color: white; */
    /* background-color: rgba(0, 0, 0, .7); */
    background-color: white;
    color: black; 
    width: 90%;
    margin: 0 auto 50px;
    padding: 30px;
    text-align: justify;
}

.our-work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.stat {
    text-align: center;
    margin-bottom: 20px;
}

.stat img {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

.projects {
    margin-bottom: 40px;
}

.projects h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.call-to-action {
    text-align: center;
    margin-bottom: 40px;
}

.btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.container{
    display: flex;
    justify-content: center;
    margin: 50px auto;
}
iframe{
    border: 5px solid #282828;
}

.cuadro{
    height: 140px;
}